.screenStyle {
  flex: 1;
  background: black;
  color: white;
  position:relative;
  text-align: right;
  margin: 5px;
  
}

.valueStyle {
  position:absolute;
  bottom:0;
  right:0;
  font-size: 50px;
  padding-bottom: 15px;
  padding-right: 10px;
  word-break: break-all;
}